$sizes: (
  redsizemd: 16px,
  greensizemd:32px,

  fontsizesearchmd:18px,

  fontsize14md:14px,
  fontsize24md:24px,
  fontsize46md:46px,
  fontsize28md:28px,
  fontsize16md:16px,
  fontsize12md:12px,
  fontsize18md:18px,

)